.page {
  padding: 1rem;
}
.form {
  .nes-field {
    margin-top: 1rem;
  }
}
.nes-container:not(:last-child) {
  margin-bottom: 1rem;
  overflow: hidden;
}
a.nes-btn:hover {
  text-decoration: none;
  color: inherit;
}
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}
.message-list > div {
  margin-bottom: 1rem;
}
.message {
  overflow: hidden;
}
.delete-btn {
  margin-bottom: -1rem;
  z-index: 5;
}
.m-b {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: normal;
}
h1 a {
  text-decoration: none;
  color: #000;
  
  &:hover {
    color: #000;
    text-decoration: none;
  }
}
img {
  max-width: 100%;
}