.page {
  padding: 1rem;
}
.form {
  .nes-field {
    margin-top: 1rem;
  }
}
.nes-container:not(:last-child) {
  margin-bottom: 1rem;
}
.float-right {
  float: right;
}

h1 a {
  text-decoration: none;
  color: #000;
  
  &:hover {
    color: #000;
    text-decoration: none;
  }
}