// Colors;
$color01: #000000;
$color02: #5F574F;
$color03: #C2C3C7;
$color04: #FFF1E8;
$color05: #FFEC27;
$color06: #FFA300;
$color07: #FFCCAA;
$color08: #AB5236;
$color09: #FF77A8;
$color10: #FF004D;
$color11: #83769C;
$color12: #7E2553;
$color13: #29ADFF;
$color14: #1D2B53;
$color15: #008751;
$color16: #00E436;

$color_principal: $color08;
$color_success: $color15;
$color_warning: $color06;
$color_danger: $color10;

$color_bg: $color14;
$color_fg: $color07;

// Sizes
$font_base: 10px;
$outline_width: ($font_base/5);
